POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

JWT_KEY=01234567890123456789012345678901
INTERNAL_API_KEY=local-internal-key

USER_TOPIC=user
NOTIFICATION_GROUP_ID=notification-service
MAIL_FROM=no-reply@notification.local

AUTH_PORT=8080
NOTIFICATION_PORT=8081
POSTGRES_PORT=5432
KAFKA_PORT=9092
